<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
<type name="Magento\Catalog\Model\Product">
<plugin name="description_plugin" type="Hiberus\Roman\Plugin\Catalog\DescriptionPlugin" sortOrder="10" disabled="false" />
</type>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
            <item name="comando-autor" xsi:type="object">Hiberus\Curso\Console\AuthorsCommand</item>
            </argument>
        </arguments>
    </type>
</config>
